/*
.title {
    text-align: center;
    font-size: large;
    color: red;
    border-left-color: red;
    border-left-style: solid;
    border-left-width: 6px;
}

img {
    width: 500px;
    height: auto;
}

span {
    text-align: center;
    font-size: larger;
}

.pic {
    width: 100px; height: 100px;
}

.menu {
    align-content: center;
    text-align: center;
    background-color: rgb(194, 237, 240);
    width: 400px;
    height: 400px;
}

.desc {
    text-emphasis: em;
}

button {
    margin-top: 7px;
    align-content: center;
    width: 380px; height: auto;
    text-align: left;
    border-left: 5px rgb(204, 41, 41) solid;
    border-top: 5px rgb(204, 41, 41) solid;
    background-color:bisque
}

div {
    font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}
*/

.categ {
    text-align: center;
    background-color: orange;
}

button {
    background-color: orange;
}
/* for the index*/


body {
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
    color: black;
    background-color: beige;
    align-content: center;
}

img {
    display: flex;
    justify-content: center;
    width: 300px; height: auto;
}

.title {
    border-left: 8px red solid;
    align-self: center;
    align-content: center;
    text-align: center;
    color: aqua;
}

.ingredients {
    background-color: aquamarine;
    border-top: 5px solid green;
    border-left: 5px solid green;
    border-bottom: 2px rgb(4, 172, 4) groove;
    border-right: 2px rgb(4, 172, 4) groove;
    width: 400px;
    margin-bottom: 50px;
}

.preparation {
    background-color: rgb(250, 188, 131);
    border-top: 5px solid brown;
    border-left: 5px solid brown;
    border-bottom: 2px brown groove;
    border-right: 2px brown groove;
    width: 800px;
}


/* ignore for now

li {
    color:black;
    border: 2px black solid;
}

li:nth-child(even) {
    background-color: rgb(235, 235, 176);
}

li:nth-child(odd) {
    background-color: yellow;
}
*/

p {
    background-color: rgb(18, 212, 18);
}

.rrr {
    background-color: goldenrod;
}